<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action='form' method ='post'>
    <label >Name:</label>
    <br>
    <input type = 'text' name = 'name'/>
    <br>
    <label >My favourite language:</label>
    <br>
    <select name='firstLanguage' id='firstLanguage'>
        <option value='Java'>Java</option>
        <option value='JavaScript'>JavaScript</option>
        <option value='Python'>Python</option>
    </select>
    <br>
    <label >My Second favourite language:</label>
    <br>
    <select name='secondLanguage' id='secondLanguage'>
        <option value='Java'>Java</option>
        <option value='JavaScript'>JavaScript</option>
        <option value='Python'>Python</option>
    </select>
    <br>
    <label >My third favourite language:</label>
    <br>
    <select name='thirdLanguage' id='thirdLanguage'>
        <option value='Java'>Java</option>
        <option value='JavaScript'>JavaScript</option>
        <option value='Python'>Python</option>
    </select>
    <br>
    <input type = 'submit' value = 'Submit'/>
</form>


</body>
</html>